<% if logged_in? %>
  <div class='text-center'>
    <%= image_tag current_user.avatar, size: '75x75', class: 'avatar' %>
    <h4><%= current_user.name %></h4>
  </div>
  
  <ul class="nav nav-tabs nav-justified mb-3 top-nav-tabs">
    <li class="nav-item"><a href="<%= root_path %>" class="nav-link">マッチング</a></li>
    <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link">いいねされてる</a></li>
  </ul>
  <%= render 'users', users: @followers %>
  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>