<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3 tweet">
      <%= image_tag post.user.avatar, size: '50x50', class: 'avatar' %>
      <div class="media-body">
        <div>
          <a href="<%= user_path(post.user) %>"><%= post.user.name %></a>
        </div>
        <div>
          <p class="posts-content"><%= post.content.gsub(/\r\n|\r|\n/, "<br>").html_safe %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>