<div class="headerNav">
  <div class="container">
    <div class="row headerNavBox">
      <a href="<%= root_path %>" class="col-xs-6 col-sm-3 headerNavBtn">
        トップページ
      </a>
      <div class="col-xs-6 col-sm-3 headerNavBtn" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ユーザーを探す</a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"><%= link_to 'タグから探す', tags_path %></li>
          <li class="dropdown-item"><%= link_to 'つぶやきから探す', posts_path %></li>
        </ul>
      </div>
      <a href="<%= signup_path %>" class="col-xs-6 col-sm-3 headerNavBtn">
        新規登録
      </a>
      <a href="<%= login_path %>" class="col-xs-6 col-sm-3 headerNavBtn">
        ログイン
      </a>
    </div>
  </div>
</div>